@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body {
    background-color: #254336;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo {
    color: #254336;
    text-align: center;
    text-transform: uppercase;
}

.geral {
    background-color: #6B8A7A;
    padding: 2em;
    border-radius: 5px;
}

.botao__span {
    color: #B7B597;
    font-size: 8rem;
}

.botoes__estilo {
    font-size: 25px;
    font-weight: 700;
    color: #B7B597;
    border: none;
    border-radius: 5px;
    width: 6rem;
    height: 6rem;
    background-color: #2543
}

.geral div {
    display: flex;
    align-items: center;
}

.botao__limpar {
    background-color: #254336;
    font-size: 16px;
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    border: none;
}